body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #f5f6f7;
}

nav {
    background: #0a0a23;
    text-align: center;
}

#logo {
    margin: 5px;
    margin-top: 7px;
}

#banner {
    text-align: center;
    font-size: 1.2rem;
    font-family: Lato, sans-serif;
    padding-top: 40px;
}

#banner-text {
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    font-weight: 800;
}

.logos {
    margin: 1rem;
    height: 40px;
}

#logo-banner {
    text-align: center;
}

.btn-cta {
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23 !important;
    border-radius: 0;
    border-width: 3px;
    color: var(--secondary-color);
    text-decoration: none;
    white-space: pre-line;
    font-size: 1.5rem;
    margin: 0 auto;
    max-height: 100%;
    max-width: 450px;
    padding: 5px;
    width: 100%;
    display: block;
    font-family: Roboto Mono, monospace;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #333;
    text-decoration: none;
}

.caption {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.6rem 0;
    font-family: Lato, sans-serif;
}

.featured-logos {
    background: #1b1b32;
    text-decoration-color: #d0d0d5;
    text-align: center;
    padding: 3rem 0;
}

.featured-logos img {
    width: 70%;
}

.featured-text {
    color: #d0d0d5;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0.6rem 0;
    font-family: Lato, sans-serif;
}

.featured-img {
    fill: #d0d0d5;
}

h1 {
    font-size: 2.5rem !important;
    overflow-wrap: break-word;
    font-family: Lato, sans-serif;
    color: #1b1b32;
    text-align: center;
}

.second-div {
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    vertical-align: middle;
}

.first-div {
    text-align: center;
    overflow-wrap: break-word;
}

.first-div .img {
    vertical-align: middle;
    display: inline-block;
    margin-top: auto;
    margin-top: bottom;
    padding: 3rem 0;
}

.first-div p {
    color: #3b3b4f;
    font-family: Lato, sans-serif;
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="first-div"] {
        width: 100%;
    }

    .second-div p {
        width: 100%;
        max-width: 400px;
        margin: 0;
        position: relative;
    }

    #image-banner {
        display: none;
    }
}

.pathways {
    text-align: center;
}

.pathways button {
    max-width: 700px;
    font-family: 'Roboto Mono', monospace;
    min-height: 70px;
    width: 100%;
    padding: 10px 16px;
    font-size: 22px;
    background-color: #d0d0d5;
    border-width: 2px;
    border-color: #1b1b32;
    color: #1b1b32;
    border-radius: 0px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: block;
}

.pathways {
    text-align: center;
}

.pathways button:hover {
    background-color: #0a0a23;
    color: #fff;
}

.icons {
    vertical-align: middle;
}

.pathways-button:hover {
    background-color: orange;
    color: white;
}

.pathways-button:hover .icons {
    fill: white !important;
}

@media only screen and (max-width: 500px) {
    .pathways button {
        font-size: 1.2rem;
        margin: 0 20px;
        max-width: 450px;
        margin: 0 1rem;
    }
}